Data Analytics Final Project
Allison Foster 8808904
Neena Kurup

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.image as mpl

In [2]:
Immunization=pd.read_csv(r'C:\Users\user\Downloads\ltc_immunization_data.csv')

In [3]:
Immunization

,Date_Collected,LTC_Home,LTC_Home_Number,City,PHU,1st_dose_percentage_staff_vaccination_rate,2nd_dose_percentage_staff_vaccination_rate
0,2021-08-31,Algoma Manor Nursing Home,3041,Thessalon,ALGOMA,0.92,0.91
1,2021-08-31,Cedarwood Lodge,7093,Sault Ste. Marie,ALGOMA,0.95,0.95
2,2021-08-31,Extendicare Maple View of Sault Ste. Marie,3043,Sault Ste. Marie,ALGOMA,0.74,0.68
3,2021-08-31,Extendicare Van Daele,2609,Sault Ste. Marie,ALGOMA,0.90,0.88
4,2021-08-31,F. J. Davey Home,2936,Sault Ste. Marie,ALGOMA,0.87,0.74
...,...,...,...,...,...,...,...
3086,2021-12-31,Villa Leonardo Gambin,2947,Woodbridge,YORK REGION,1.00,1.00
3087,2021-12-31,Woodbridge Vista Care Community,2945,Woodbridge,YORK REGION,1.00,0.97
3088,2021-12-31,Yee Hong Centre - Markham,2876,Markham,YORK REGION,1.00,1.00
3089,2021-12-31,York Region Maple Health Centre,M605,Maple,YORK REGION,1.00,1.00
3090,2021-12-31,York Region Newmarket Health Centre,M534,Newmarket,YORK REGION,1.00,1.00

In [4]:
Immunization.isnull()

,Date_Collected,LTC_Home,LTC_Home_Number,City,PHU,1st_dose_percentage_staff_vaccination_rate,2nd_dose_percentage_staff_vaccination_rate
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
3086,False,False,False,False,False,False,False
3087,False,False,False,False,False,False,False
3088,False,False,False,False,False,False,False
3089,False,False,False,False,False,False,False
3090,False,False,False,False,False,False,False

In [ ]:
##This dataset compiles monthly COVID-19 vaccination rates for staff, student placements and volunteers in long-term care homes, based on data homes report to the Ministry of Long-Term Care on a monthly basis.

As the data is reported monthly, the vaccination rates of staff, students and volunteers may no longer be current; for current information, please contact the long-term care home directly.

In [6]:
Immunization.groupby('LTC_Home')['1st_dose_percentage_staff_vaccination_rate'].mean()

LTC_Home
Afton Park Place Long Term Care Community    0.960
Albright Gardens Homes, Incorporated         0.916
Alexander Place                              0.992
Algoma Manor Nursing Home                    0.972
Algonquin Nursing Home                       0.950
                                             ...
peopleCare A.R. Goudie Kitchener             0.968
peopleCare Hilltop Manor Cambridge           0.984
peopleCare Oakcrossing London                0.960
peopleCare Tavistock                         0.938
Élisabeth-Bruyère Residence                  0.976
Name: 1st_dose_percentage_staff_vaccination_rate, Length: 647, dtype: float64

In [7]:
Immunization.groupby('LTC_Home')['2nd_dose_percentage_staff_vaccination_rate'].mean()

LTC_Home
Afton Park Place Long Term Care Community    0.894
Albright Gardens Homes, Incorporated         0.890
Alexander Place                              0.954
Algoma Manor Nursing Home                    0.964
Algonquin Nursing Home                       0.926
                                             ...
peopleCare A.R. Goudie Kitchener             0.964
peopleCare Hilltop Manor Cambridge           0.970
peopleCare Oakcrossing London                0.936
peopleCare Tavistock                         0.928
Élisabeth-Bruyère Residence                  0.942
Name: 2nd_dose_percentage_staff_vaccination_rate, Length: 647, dtype: float64

In [17]:
Immunization[['LTC_Home', '1st_dose_percentage_staff_vaccination_rate', '2nd_dose_percentage_staff_vaccination_rate']].corr(method = 'spearman')

,1st_dose_percentage_staff_vaccination_rate,2nd_dose_percentage_staff_vaccination_rate
1st_dose_percentage_staff_vaccination_rate,1.000000,0.917243
2nd_dose_percentage_staff_vaccination_rate,0.917243,1.000000

In [6]:
Immunization.loc[Immunization['PHU']== 'YORK REGION', '2nd_dose_percentage_staff_vaccination_rate']

598     0.91
599     0.98
600     0.82
601     0.87
602     0.93
        ...
3086    1.00
3087    0.97
3088    1.00
3089    1.00
3090    1.00
Name: 2nd_dose_percentage_staff_vaccination_rate, Length: 139, dtype: float64

In [7]:
##How many unique Cities are in the dataset?

In [9]:
Immunization['City'].nunique()

311

In [12]:
##What is the proportion of each unique city in the dataset?

In [13]:
Immunization['City'].value_counts()#.plot(kind='bar')

Toronto           202
Scarborough        93
Ottawa             85
Hamilton           78
London             75
                 ...
Little Current      2
Planetagenet        1
Sutton West         1
Port Dover          1
York                1
Name: City, Length: 311, dtype: int64

In [10]:
##Which LTC home has a higher vaccination rate?

In [11]:
Immunization.groupby(['LTC_Home'])['2nd_dose_percentage_staff_vaccination_rate'].value_counts(normalize=True)

LTC_Home                                   2nd_dose_percentage_staff_vaccination_rate
Afton Park Place Long Term Care Community  1.00                                          0.4
                                           0.71                                          0.2
                                           0.84                                          0.2
                                           0.92                                          0.2
Albright Gardens Homes, Incorporated       0.78                                          0.2
                                                                                        ...
Élisabeth-Bruyère Residence                0.86                                          0.2
                                           0.90                                          0.2
                                           0.96                                          0.2
                                           0.99                                          0.2
                                           1.00                                          0.2
Name: 2nd_dose_percentage_staff_vaccination_rate, Length: 2450, dtype: float64

In [9]:
Immunization['City']

0              Thessalon
1       Sault Ste. Marie
2       Sault Ste. Marie
3       Sault Ste. Marie
4       Sault Ste. Marie
              ...
3086          Woodbridge
3087          Woodbridge
3088             Markham
3089               Maple
3090           Newmarket
Name: City, Length: 3091, dtype: object

In [ ]:
##What is the average staff vaccination percentage of long term care homes in the City of Waterloo?

In [9]:
Immunization.loc[Immunization['City']== 'Waterloo', '2nd_dose_percentage_staff_vaccination_rate']

544     0.87
551     0.91
554     0.92
560     0.78
1169    0.92
1176    0.92
1179    0.97
1185    0.94
1794    0.96
1801    0.98
1804    0.99
1810    0.96
2410    1.00
2417    1.00
2420    1.00
2426    0.99
3015    1.00
3022    1.00
3029    1.00
Name: 2nd_dose_percentage_staff_vaccination_rate, dtype: float64

In [ ]:
##Is there any city prone to more vaccinated staff member?

In [6]:
Immunization.groupby (['City'])['2nd_dose_percentage_staff_vaccination_rate'].value_counts (normalize=True)

City         2nd_dose_percentage_staff_vaccination_rate
Ailsa Craig  0.98                                          0.666667
             0.91                                          0.333333
Ailsa Craig  0.72                                          0.500000
             0.78                                          0.500000
Ajax         1.00                                          0.400000
                                                             ...
York         1.00                                          1.000000
Zurich       1.00                                          0.400000
             0.93                                          0.200000
             0.96                                          0.200000
             0.97                                          0.200000
Name: 2nd_dose_percentage_staff_vaccination_rate, Length: 1627, dtype: float64

In [7]:
##How many LTC homes are in each city?

In [10]:
Immunization.groupby('City')['LTC_Home'].value_counts(normalize=True)

City         LTC_Home
Ailsa Craig  Craigholme                                        1.0
Ailsa Craig  Craigholme                                        1.0
Ajax         Chartwell Ballycliffe Long Term Care Residence    0.5
             Winbourne Park                                    0.5
Akwesasne    Tsiionkwanonhsote                                 1.0
                                                              ...
Woodslee     Country Village Homes - Woodslee                  1.0
Woodstock    Caressant Care Woodstock Nursing Home             0.5
             Woodingford Lodge - Woodstock                     0.5
York         West Park Long-Term Care Centre                   1.0
Zurich       Blue Water Rest Home                              1.0
Name: LTC_Home, Length: 754, dtype: float64

456     0.83
457     0.94
460     0.93
461     0.94
465     0.82
        ...
2999    1.00
3000    1.00
3003    1.00
3004    1.00
3007    0.99
Name: 2nd_dose_percentage_staff_vaccination_rate, Length: 202, dtype: float64